In [1]:
#indexing
#multiple and duplicate data or values
#ordered 
#mutable

In [3]:
d= {}
d= dict()
print(type(d))

<class 'dict'>

In [ ]:
#d= {<key>:<value>}

In [10]:
d= {"a":"apple","b":"ball"}
print(d["a"])

apple

In [8]:
d= {"a":"apple","b:","ball"}
print(a["a"])

SyntaxError: ':' expected after dictionary key (3375544356.py, line 1)

In [11]:
d= {"a":"apple","b":"ball"}
print(d["a"])
print(d["b"])

apple
ball

In [13]:
a={}
a["a"]="apple"
a["b"]="ball"
a["c"]="call"
a

{'a': 'apple', 'b': 'ball', 'c': 'call'}

In [19]:
a={}
n= int(int("enter n= "))
for i in range(n):
    name= input("enter name= ")
    phone= int(input("enter phone= "))
    a[name]= phone

print(a)

ValueError: invalid literal for int() with base 10: 'enter n= '

In [21]:
a={}
n= int(input("enter n= "))
for i in range(n):
    name= input("enter name= ")
    phone= int(input("enter phone= "))
    a[name]= phone

print(a)

enter n= 2
enter name= ram
enter phone= 098776666
enter name= shyam
enter phone= 0988777655
{'ram': 98776666, 'shyam': 988777655}

In [28]:
a= {'ram': 98776666, 'shyam': 988777655}
for i in a.values():
    print (i)

98776666
988777655

In [27]:
a= {'ram': 98776666, 'shyam': 988777655}
for i in a.values():
    print (i)

98776666
988777655

In [29]:
a= {'ram': 98776666, 'shyam': 988777655}
for i in a.items():
    print (i)

('ram', 98776666)
('shyam', 988777655)

In [31]:
a= {'ram': 98776666, 'shyam': 988777655}
a["ram"]= 9887666
a

{'ram': 9887666, 'shyam': 988777655}

In [34]:
a= {'ram': 98776666, 'shyam': 988777655}
b= {"sita":988777778, "rita":9887777}
a.update(b)
a

{'ram': 98776666, 'shyam': 988777655, 'sita': 988777778, 'rita': 9887777}

In [ ]:
#delete in dict
#del pop

In [35]:
a= {'ram': 98776666, 'shyam': 988777655}
del a["ram"]
a

{'shyam': 988777655}

In [36]:
a= {'ram': 98776666, 'shyam': 988777655}
b= a.pop("ram")
print(b)
print(a)

98776666
{'shyam': 988777655}

In [39]:
a= {'ram':[98776666, 98765545], 'shyam':[988777655,99877666555]}
a["ram"]

[98776666, 98765545]

In [41]:
a= {"name":["ram","shyam","hari"], 
"age":["shyam","hari","rita"],
"add":["kathmandu","sita", "gita"]}
a

{'name': ['ram', 'shyam', 'hari'],
 'age': ['shyam', 'hari', 'rita'],
 'add': ['kathmandu', 'sita', 'gita']}

In [46]:
a={}
n= int(input("enter n= "))
for i in range(n):
    name= input("enter name= ")
    phone= int(input("enter phone= "))
    add= input("enter address= ")
    a[name]= [phone,add]

print(a)

enter n= 2
enter name= priyanka
enter phone= 9876655
enter address= biratnagar
enter name= sita
enter phone= 9787666362
enter address= chitwan
{'priyanka': [9876655, 'biratnagar'], 'sita': [9787666362, 'chitwan']}

In [47]:
a={"name":[],"age":[],"add":[]}
n= int(input("enter n= "))
for i in range(n):
    name= input("enter name= ")
    age= int(input("enter age= "))
    add= input("enter add= ")
    a["name"].append(name)
    a["age"].append(age)
    a["add"].append(add)
print(a)

enter n= 2
enter name= ram
enter age= 32
enter add= chitwan
enter name= priyanka
enter age= 34
enter add= chitwan
{'name': ['ram', 'priyanka'], 'age': [32, 34], 'add': ['chitwan', 'chitwan']}

In [48]:
a= {'name': ['ram', 'priyanka'], 'age': [32, 34], 'add': ['chitwan', 'chitwan']}
print("name = ",a["name"][0])
print("name = ",a["age"][0])

name =  ram
name =  32

In [ ]:
l=[]
n= int(input("enter n= "))
for i in range(n):
    name = input("enter name= ")
    age= int(input("enter age= "))
    add= input("enter add= ")
    d= {"name":name, "age":age,"add":add}
    l.append(d)
print(l)

In [ ]:
l={}
n= int(input("enter n= "))
for i in range(1, n+1):
    name = input("enter name= ")
    age= int(input("enter age= "))
    add= input("enter add= ")
    l[i] = {"name":name, "age":age,"add":add}

print(l)