In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.4.0-cp311-cp311-macosx_13_0_arm64.whl (13.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 16.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [13]:
import mysql.connector 
database= mysql.connector.connect(
     host="localhost",
     user="root",
     password= "",
     database= "python_class")
db= database.cursor()

In [14]:
db.execute("SELECT* FROM python_class")
result = db.fetchall()
for x in result:
    print(x)

(1, 'priyanka chaudhary', 60, 70, 70, 60, 60, 320, 64, 'B')
(2, 'Roshis shrestha ', 80, 90, 70, 67, 87, 394, 78, 'A')
(3, 'ronish shrestha ', 80, 90, 70, 60, 50, 350, 70, 'B-')
(4, 'sita', 60, 80, 70, 60, 50, 460, 69, 'B')

In [22]:
sql=''' INSERT INTO `python_class` (`S.N`, `Name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) VALUES ('9', 'ram shrestha', '60', '60', '70', '80', '70', '360', '76', 'B');'''
db.execute(sql)
database.commit()
print(db.rowcount,"record inserted")

1 record inserted

In [25]:
Name= input("enter name = ")
physics= int(input("enter physics marks= "))
chemistry= int(input("enter chemistry marks= "))
math= int(input("enter math marks= "))
english= int(input("enter english marks= "))
nepali=int(input("enter nepali marks= "))

total= physics+chemistry+math+english+nepali
per= total/5

if per>= 80:
    grade="A"
elif per>= 60:
    grade>="B"
elif per>=45:
    grade ="C"
else:
    grade="F"
    
sql= f''' INSERT INTO `python_class`(`Name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
     VALUES (`Name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`);'''
db.execute(sql)
database.commit()
print(db.rowcount,"record inserted")

enter name = dfjejri
enter physics marks= 70
enter chemistry marks= 70
enter math marks= 70
enter english marks= 70
enter nepali marks= 70
1 record inserted

In [1]:
pwd

'/Users/roshisshrestha/Documents/python class /Python_class_8am '