In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.4.0-cp311-cp311-macosx_13_0_arm64.whl (13.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 16.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [4]:
import mysql.connector 
database= mysql.connector.connect(
     host="localhost",
     user="root",
     password= "",
     database= "python_class")
db= database.cursor()

In [6]:
db.execute("SELECT* FROM python_class")
result = db.fetchall()
for x in result:
    print(x)

(1, 'priyanka chaudhary', 60, 70, 70, 60, 60, 320, 64, 'B')
(2, 'Roshis shrestha ', 80, 90, 70, 67, 87, 394, 78, 'A')
(3, 'ronish shrestha ', 80, 90, 70, 60, 50, 350, 70, 'B-')

IntegrityError: 1062 (23000): Duplicate entry '6' for key 'PRIMARY'